body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loading > h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin: 25px 0;
}
.header {
    min-height: 70vh;
    max-height: 70vh;
    background-image: url("./college-newspaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.heading,
.subheading {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: white;
    z-index: 9999;
}
.subheading {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
    max-width: 400px;
}
.search-input-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 500px;
}
.input-field {
    z-index: 9999;
    width: 380px;
    height: 54px;
    border-radius: 25px;
    display: flex;
    background-color: white;
    border: none;
}
.select-input {
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.input-field > input {
    flex: 1;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: none;
    font-size: 20px;
}
.input-field > img {
    width: 30px;
    padding: 0 10px;
}
.search-input-container > button {
    background: none;
    z-index: 9999;
    border: none;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

/* course detail */
.course-results {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.prof-card {
    border: 2px solid #ddd; /* Mimic fieldset border */
    padding: 10px;
    margin-top: 20px; /* Spacing from other content */
    position: relative; /* For legend positioning */
    width: 70%;
    margin-bottom: 20px;
}
.custom-legend {
    position: absolute; /* Positioning like a legend */
    top: -25px; /* Adjust this value as needed */
    left: 10px; /* Adjust this value as needed */
    background: #fff; /* Match the background of the containing block */
    padding: 0 5px; /* Mimic legend padding */
    color: #333; /* Legend text color */
    font-weight: bold; /* Bold like typical legend */
    display: flex;
    align-items: center;
}
.custom-legend > a {
    text-decoration: none;
    color: #2e8bc0;
    font-size: 36px;
}
.prof-name {
    font-size: 36px;
}

.courses-container {
    margin-top: 14px;
    border: 1px solid black;
}
.course-header {
    background-color: #06315c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 8px;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}
thead {
    background-color: #d9d9d9;
    color: black;
    font-weight: normal;
    font-size: 14px;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
table td {
    border: 1px solid black;
}
